<!DOCTYPE HTML>
<html>
<head>

    <!-- Meta Information -->

    <title>Coronavirus Social Analysis</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400" rel="stylesheet">
    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Scripts -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>

    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin="">
    </script>


</head>
<body>

<div class="colorlib-loader"></div>

<!-- Navbar Menu -->

<div id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="row">
                <div class="col-md-4">
                    <div id="colorlib-logo"><a href="#" id="title">Coronavirus Social Analysis</a></div>
                </div>
                <div class="col-md-8 text-right menu-1">
                    <div id="desktop-menu">
                        <ul>
                            <li><a href="#first-entry">General Details</a></li>
                            <li><a href="#second-entry">Sentiment</a></li>
                            <li><a href="#middle-entry">Emotion</a></li>
                            <li><a href="#third-entry">User Profiling</a></li>
                            <li><a href="#fifth-entry">Exploratory Analysis</a></li>
                        </ul>
                    </div>
                    <div id="mobile-menu" style="margin-top: -55px;">
                        <div id="mySidebar" class="sidebar">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <a href="#first-entry" onclick="closeNav()">General Details</a>
                            <a href="#second-entry" onclick="closeNav()">Sentiment</a>
                            <a href="#middle-entry" onclick="closeNav()">Emotion</a>
                            <a href="#third-entry" onclick="closeNav()">User Profiling</a>
                            <a href="#fifth-entry" onclick="closeNav()">Exploratory Analysis</a>
                        </div>
                        <div id="main">
                            <div>
                                <a class="openbtn" onclick="openNav()">&#9776;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- General Details -->

    <div id="home" class="video-hero" style="height: 700px; background-image: url('../static/images/virus.jpg');  background-size:cover;
		background-position: center center;background-attachment:fixed; opacity: 0.7;padding-top: 200px;
		" data-section="home">
        <h2 id="intro">An Exploratory Data Platform for the COVID-19 Virus</h2>
        <h4 id="sub">Utilizing data from Twitter and Instagram</h4>
        <div>
            <button id="more" onClick="document.getElementById('first-entry').scrollIntoView();">
                <div class="arrow"></div>
            </button>
        </div>
    </div>
    <div class="colorlib-featured" id="first-entry">
    </div>
    <div class="colorlib-services colorlib-bg-white">
        <div class="container">
            <div class="row" id="buttons">
                <div class="twitter" id="twitter-text"
                     onclick="change_twitter();document.getElementById('picture').src='../static/images/twitter.png'">
                    Twitter
                </div>
                <div class="instagram" id="insta-text"
                     onclick="change_instagram();document.getElementById('picture').src='../static/images/instagram.jpg'">
                    Instagram
                </div>
            </div>
            <div class="row" id="dots">
                <span class="dot" id="dot1" style="margin-left: -20px;background-color: gray"></span>
                <span class="dot" id="dot2" style="margin-left: 50px;"></span>
            </div>
            <div class="row">
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
							<span class="icon">
								<i class="icon-browser"></i>
							</span>
                        <div class="desc">
                            <h3 class="counter-count1" id="counter-count1">{{twitter_data.posts_count}}</h3>
                            <p id="info">Tweets Collected</p>
                            <img id="picture" src="../static/images/twitter.png" style="width: 70px;height: 70px;">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
							<span class="icon">
								<i class="icon-download"></i>
							</span>
                        <div class="desc">
                            <h3 class="counter-count2" id="counter-count2">{{twitter_data.users_count}}</h3>
                            <p>Different Users</p>
                            <img src="../static/images/users.png" style="width: 70px;height: 70px;">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
							<span class="icon">
								<i class="icon-layers"></i>
							</span>
                        <div class="desc">
                            <h3 class="counter-count3" id="counter-count3">{{twitter_data.avg_likes}}</h3>
                            <p id="pop-text">Average Likes per Tweet</p>
                            <img src="../static/images/words.png" style="width: 70px;height: 70px;">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sentiment -->

    <div class="colorlib-intro" id="second-entry">
        <div class="container">
            <div class="row buttons">
                <div class="twitter activated" id="twitter-text2"
                     onclick="twitter_fun('3','4','2');changeid_sent()">
                    Twitter
                </div>
                <div class="instagram" id="insta-text2"
                     onclick="instagram('3','4','2');changeid_sent()">Instagram
                </div>
            </div>
            <div class="row dots">
                <span class="dot" id="dot3" style="margin-left: -20px;background-color: gray"></span>
                <span class="dot" id="dot4" style="margin-left: 50px;"></span>
            </div>
            <div class="row cards" style="text-align: center;">
                <div class="col-md-4" style="margin-top: 40px;">
                    <div class="card" id="positive" style="border: solid 3px green">
                        <div class="card-body">
                            <h4 class="card-title">Positive Sentiment</h4>
                            <h2 class="card-text" id="sent-text1" style="margin-top: 60px;">{{twitter_data.sent_pos_percent}}%</h2>
                            <div class="first-choice" style="margin-left: -20px;margin-top: 20px;">
                                <div class="average activated" id="average1"
                                     onclick="category_change('1','2','1');change_average('1')">Average
                                </div>
                                <span class="dot" id="dott1" style="background-color: gray"></span>
                            </div>
                            <div class="second-choice" style="margin-left: 20px;">
                                <div class="number-of" id="number-of1"
                                     onclick="category_change('1','2','1');change_number('1')">
                                    Total
                                </div>
                                <span class="dot" id="dott2"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-top: 40px;">
                    <div class="card" id="neutral" style="border: solid 3px grey">
                        <div class="card-body">
                            <h4 class="card-title">Neutral Sentiment</h4>
                            <h2 class="card-text" id="sent-text2" style="margin-top: 60px;">{{twitter_data.sent_neu_percent}}%</h2>
                            <div class="first-choice" style="margin-left: -20px;margin-top: 20px;">
                                <div class="average activated" id="average3"
                                     onclick="category_change('5','6','3');change_average('2')">Average
                                </div>
                                <span class="dot" id="dott5" style="background-color: gray"></span>
                            </div>
                            <div class="second-choice" style="margin-left: 20px;">
                                <div class="number-of" id="number-of3"
                                     onclick="category_change('5','6','3');change_number('2')">
                                    Total
                                </div>
                                <span class="dot" id="dott6"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-top: 40px;">
                    <div class="card" id="negative" style="border:solid 3px red">
                        <div class="card-body">
                            <h4 class="card-title">Negative Sentiment</h4>
                            <h2 class="card-text" id="sent-text3" style="margin-top: 60px;">{{twitter_data.sent_neg_percent}}%</h2>
                            <div class="first-choice" style="margin-left: -20px;margin-top: 20px;">
                                <div class="average activated" id="average2"
                                     onclick="category_change('3','4','2');;change_average('3')">Average
                                </div>
                                <span class="dot" id="dott3" style="background-color: gray"></span>
                            </div>
                            <div class="second-choice" style="margin-left: 20px;">
                                <div class="number-of" id="number-of2"
                                     onclick="category_change('3','4','2');change_number('3')">
                                    Total
                                </div>
                                <span class="dot" id="dott4"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" id="sentiment-container">
                    <canvas id="sentimentBarPlot1" style="margin-top: 40px;" width="550" height="500"></canvas>
                </div>
                <div class="col-md-6 holder">
                    <div class="description" id="sentiment_description">
                        In this barplot chart, we can see the percentages of the average sentiment for all tweets. There
                        are three labels for negative, neutral and positive sentiments respectively. By hovering on the
                        bars, the user can see the actual percentage of each sentiment.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Emotion -->

    <div class="colorlib-work-featured colorlib-bg-white" id="middle-entry">
        <div class="container">
            <div class="row buttons">
                <div class="twitter activated" id="twitter-text25" onclick="twitter_fun('25','26','25');changeid_em()">
                    Twitter
                </div>
                <div class="instagram" id="insta-text25" onclick="instagram('25','26','25');changeid_em()">Instagram
                </div>
            </div>
            <div class="row dots">
                <span class="dot" id="dot25" style="margin-left: -20px;background-color: gray"></span>
                <span class="dot" id="dot26" style="margin-left: 50px;"></span>
            </div>
            <div class="row" style="text-align: center;">
                <div class="col-md-4 anger" style="margin-top:40px;">
                    <img class="emoji" src="../static/images/angry_emoji.png" title="Anger"
                         style="width: 70px;height: 70px;">
                    <h2 id="anger" class="percent">{{twitter_data.emo_anger_percent}}%</h2>
                </div>
                <div class="col-md-4 disgust" style="margin-top:40px;">
                    <img class="emoji" src="../static/images/disgust_emoji.png" title="Disgust"
                         style="width: 100px;height: 100px;margin-top: -20px;">
                    <h2 id="disgust" class="percent">{{twitter_data.emo_disgust_percent}}%</h2>
                </div>
                <div class="col-md-4" style="margin-top:40px;">
                    <img class="emoji" src="../static/images/fear_emoji.png" title="Fear"
                         style="width: 70px;height: 70px;">
                    <h2 id="fear" class="percent">{{twitter_data.emo_fear_percent}}%</h2>
                </div>
            </div>
            <div class="row" style="text-align: center;">
                <div class="col-md-4 joy" style="margin-top:40px;">
                    <img class="emoji" src="../static/images/joy_emoji.png" title="Joy"
                         style="width: 70px;height: 70px;">
                    <h2 id="joy" class="percent">{{twitter_data.emo_joy_percent}}%</h2>
                </div>
                <div class="col-md-4 sad" style="margin-top:40px;">
                    <img class="emoji" src="../static/images/sad_emoji.png" title="Sadness"
                         style="width: 70px;height: 70px;">
                    <h2 id="sad" class="percent">{{twitter_data.emo_sadness_percent}}%</h2>
                </div>
                <div class="col-md-4" style="margin-top:40px;">
                    <img class="emoji" src="../static/images/surprise_emoji.png" title="Surprise"
                         style="width: 70px;height: 70px;">
                    <h2 id="surprise" class="percent">{{twitter_data.emo_surprise_percent}}%</h2>
                </div>
            </div>
            <div class="row" style="padding-top: 100px;">
                <div class="col-md-6">
                    <canvas id="emotionRadarChart1" style="margin-top: 40px;" width="550" height="500"></canvas>
                </div>
                <div class="col-md-6 holder">
                    <div class="description">
                        The Polar Chart contains the 8 Emotion labels and indicates the average percentage for tweets or
                        posts. It is particularly useful for multivariate data.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- User Profiling -->

    <div class="colorlib-work-featured colorlib-bg-white" id="third-entry"
         style="background: #f5f5f5;padding-bottom: 0px;">
        <div class="container">
            <div class="row buttons">
                <div class="twitter activated" id="twitter-text3" onclick="twitter_fun('5','6','3');changeid_prof()">
                    Twitter
                </div>
                <div class="instagram" id="insta-text3" onclick="instagram('5','6','3');changeid_prof()">Instagram</div>
            </div>
            <div class="row dots">
                <span class="dot" id="dot5" style="margin-left: -20px;background-color: gray"></span>
                <span class="dot" id="dot6" style="margin-left: 50px;"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <canvas id="genderChart1" style="margin-top: 40px;" width="550" height="500"></canvas>
                </div>
                <div class="col-md-6 holder">
                    <div class="description">
                        The genders of the users are depicted in this piechart. By hovering on the pie's parts, the user
                        can see the exact numbers that correspond to each gender.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="description">
                        The ages of the users are depicted in the barplot on the right (or below). By hovering on the
                        bars, the number of users belonging to each age group can be seen.
                    </div>
                </div>
                <div class="col-md-6 holder" id="receiver">
                    <canvas id="ageChart1" style="margin-top: 40px;" width="550" height="500"></canvas>
                </div>
            </div>
            <div class="row" style="margin-top: 100px;">
                <div class="col-md-4">
                    <canvas id="sarcasmChart1" style="margin-top: 40px;" width="400" height="450"></canvas>
                </div>
                <div class="col-md-4 holder">
                    <div class="description">
                        The doughnut charts are the results of the user behavioural profiling process and depict the
                        percentages of users that can be characterised as "Sarcastic" or "Aggressive" respectively.
                    </div>
                </div>
                <div class="col-md-4">
                    <canvas id="aggressionChart1" style="margin-top: 40px;" width="400" height="450"></canvas>
                </div>
            </div>


        </div>
    </div>

    <!-- Exploratory Analysis -->

    <div id="fifth-entry" style="background: white;" class="colorlib-blog">
        <div class="container">
            <div class="row mobile-nav" style="padding-top: 50px;">
                <div class="col-md-12">
                    <ul class="nav nav-pills">
                        <li class="choice clicked_choice" id="expl-choice-11">LDA</li>
                        <li class="choice" id="expl-choice-12">Geocoding</li>
                        <li class="choice" id="expl-choice-13">Top Words</li>
                        <li class="choice" id="expl-choice-14">Top Hashtags</li>
                        <li class="choice" id="expl-choice-15">NER</li>
                    </ul>
                </div>
            </div>
            <div class="row" id="explain">
                The LDA analysis indicates the Topics extracted from the combination of Tweets and Posts. Primary topics
                are Sanitation (Topic 2), Trump and the American Government (Topic 5 and 9), the  outbreak in China  (Topic 3)
                and the  situation in Italy  (Topic 8).
            </div>
            <div class="row">
                <div class="col-md-3 desktop-nav" style="padding-top: 50px;">
                    <div>
                        <div class="choice clicked_choice" id="expl-choice-1" onclick="change_description('1')">LDA
                        </div>
                        <div class="dot choice_dot clicked_dot" id="choice-dot1"></div>
                    </div>
                    <div style="padding-top: 30px;">
                        <div class="choice" id="expl-choice-2" onclick="change_description('2')">Geocoding</div>
                        <div class="dot choice_dot" id="choice-dot2"></div>
                    </div>
                    <div style="padding-top: 30px;">
                        <div class="choice" id="expl-choice-3" onclick="change_description('3')">Top Words</div>
                        <div class="dot choice_dot" id="choice-dot3"></div>
                    </div>
                    <div style="padding-top: 30px;">
                        <div class="choice" id="expl-choice-4" onclick="change_description('4')">Top Hashtags</div>
                        <div class="dot choice_dot" id="choice-dot4"></div>
                    </div>
                    <div style="padding-top: 30px;">
                        <div class="choice" id="expl-choice-5" onclick="change_description('5')">Named Entity
                            Recognition
                        </div>
                        <div class="dot choice_dot" id="choice-dot5"></div>
                    </div>
                </div>
                <div id="content-expl-choice-container" class="col-md-9" style="padding-top: 50px;">
                    <div id="content-expl-choice-1">
                        <iframe style="width: 950px;height: 650px;" frameborder="0" src="/lda2.html"></iframe>
                    </div>
                    <div id="content-expl-choice-2">
                        <div id="mapid" style="width: 900px; height: 580px"></div>
                        <!-- Map Setup -->
                        <script>
                            var mapOptions = {
                                center: [52.940692, -3.290210],
                                zoom: 2
                            }
                            var map = new L.map('mapid', mapOptions);
                            var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
                            map.addLayer(layer);

                            // var marker = L.marker([51.5, -0.09]).addTo(map);
                            // var marker2 = L.marker([40.640064, 22.944420]).addTo(map);
                            var coordinates = {{twitter_data.locations}}
                            var coordinates2 = {{insta_data.locations}}


                            for (i = 0; i < coordinates.length; i++) {
                                marker = L.marker([coordinates[i][0], coordinates[i][1]]).addTo(map)
                                var popup = L.popup().setContent(coordinates[i][2] + ' Tweets');
                                marker.bindPopup(popup);
                            }

                            for (i = 0; i < coordinates2.length; i++) {
                                marker = L.marker([coordinates2[i][0], coordinates2[i][1]]).addTo(map)
                                var popup = L.popup().setContent(coordinates2[i][2] + ' Posts');
                                marker.bindPopup(popup);
                            }
                        </script>
                    </div>
                    <div id="content-expl-choice-3">
                    </div>
                    <div id="content-expl-choice-4">
                    </div>
                    <div id="content-expl-choice-5">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Footer -->

<footer id="colorlib-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 colorlib-widget" style="text-align: center">
                <h4>About This Project</h4>
                <p>This project was developed for our Web Mining Course, for the "Data and Web Science" MSc
                    Program at the School of Informatics of the Aristotle University of Thessaloniki. Utilizing
                    data from Twitter and Instagram related to the COVID-19 outbreak, we approach them from various
                    scopes and present the results in appealing visualizations.</p>
                <p>
                </p>
            </div>
            <div class="col-md-4 colorlib-widget" style="text-align: center">
                <h4>Team Members</h4>
                <ul style="font-size: 14px;list-style-type:none;margin-left: -40px;">
                    <li>Apostolou Dimitrios</li>
                    <li>Georgiou Kosntantinos</li>
                    <li>Kefalas Athanasios</li>
                    <li>Louvoulinas Anastasios</li>
                </ul>
            </div>
            <div class="col-md-4" style="text-align: center">
                <h4>Find our Code Repository Here:</h4>
                <a href="https://gitlab.com/alouvoul/coronavirusanalysis" target="_blank">
                    <img src="../static/images/giltab.png" style="width: 80px;height: 80px;">
                </a>
            </div>
        </div>
    </div>
</footer>

<!-- Go-To-Top button -->

<div class="gototop js-top" id="gototop">
    <a href="#home" class="js-gotop" style="font-size: 23px;">&#8593;</a>
</div>

<!-- Scripts for Website Functionalities -->

<!--Open Navbar/Menu in Mobile -->

<script>

    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }

</script>

<!-- Change Twitter Counters on Click -->

<script>

    function change_twitter() {
        dot1 = document.getElementById('dot1')
        dot2 = document.getElementById('dot2')
        text1 = document.getElementById('twitter-text')
        text2 = document.getElementById('insta-text')
        p = document.getElementById('info')
        p2 = document.getElementById('pop-text')
        count1 = document.getElementById('counter-count1')
        count2 = document.getElementById('counter-count2')
        count3 = document.getElementById('counter-count3')

        dot1.style.backgroundColor = 'gray'
        dot2.style.backgroundColor = 'white'
        text1.style.fontWeight = 'bold'
        text2.style.fontWeight = 'normal'
        p.innerHTML = 'Tweets collected'
        p2.innerHTML = 'Average Likes per Tweet'

        count1.innerHTML = '{{twitter_data.posts_count}}'
        count2.innerHTML = '{{twitter_data.users_count}}'
        count3.innerHTML = '{{twitter_data.avg_likes}}'
    }


</script>

<!-- Change Instagram Counters on Click -->

<script>

    function change_instagram() {
        dot1 = document.getElementById('dot1')
        dot2 = document.getElementById('dot2')
        text1 = document.getElementById('twitter-text')
        text2 = document.getElementById('insta-text')
        p = document.getElementById('info')
        p2 = document.getElementById('pop-text')
        count1 = document.getElementById('counter-count1')
        count2 = document.getElementById('counter-count2')
        count3 = document.getElementById('counter-count3')

        dot1.style.backgroundColor = 'white'
        dot2.style.backgroundColor = 'gray'
        text1.style.fontWeight = 'normal'
        text2.style.fontWeight = 'bold'
        p.innerHTML = 'Posts collected'
        p2.innerHTML = 'Average Likes per Post'

        count1.innerHTML = '{{insta_data.posts_count}}'
        count2.innerHTML = '{{insta_data.users_count}}'
        count3.innerHTML = '{{insta_data.avg_likes}}'
    }

</script>


<!-- Change of Twitter/Instagram button -->

<script>

    function twitter_fun(id1, id2, id3) {

        dot1 = document.getElementById('dot'.concat(id1))
        dot2 = document.getElementById('dot'.concat(id2))
        text1 = document.getElementById('twitter-text'.concat(id3))
        text2 = document.getElementById('insta-text'.concat(id3))

        dot1.style.backgroundColor = 'gray'
        dot2.style.backgroundColor = 'white'
        text1.style.fontWeight = 'bold'
        text2.style.fontWeight = 'normal'

    }

    function instagram(id1, id2, id3) {

        dot1 = document.getElementById('dot'.concat(id1))
        dot2 = document.getElementById('dot'.concat(id2))
        text1 = document.getElementById('twitter-text'.concat(id3))
        text2 = document.getElementById('insta-text'.concat(id3))

        dot1.style.backgroundColor = 'white'
        dot2.style.backgroundColor = 'gray'
        text1.style.fontWeight = 'normal'
        text2.style.fontWeight = 'bold'
    }
</script>

<!-- Change of Twitter/Instagram button in Sentiment -->

<script>

    function category_change(id1, id2, id3) {

        dot1 = document.getElementById('dott'.concat(id1))
        dot2 = document.getElementById('dott'.concat(id2))
        text1 = document.getElementById('average'.concat(id3))
        text2 = document.getElementById('number-of'.concat(id3))

        if (text1.classList.contains('activated')) {
            text1.classList.remove('activated');
            text2.classList.add('activated');
            dot2.style.backgroundColor = 'gray'
            dot1.style.backgroundColor = 'white'
            text2.style.fontWeight = 'bold'
            text1.style.fontWeight = 'normal'

        } else {
            text2.classList.remove('activated');
            text1.classList.add('activated');
            dot1.style.backgroundColor = 'gray'
            dot2.style.backgroundColor = 'white'
            text1.style.fontWeight = 'bold'
            text2.style.fontWeight = 'normal'
        }
    }
</script>

<!-- Choice change in Exploratory Analysis -->

<script>

    if (window.innerWidth <= 768) {
        var selectedTab = "11";
        var content = "1"
        var tabContents = [];

        $(document).ready(function () {

            // save the html of all choices
            for (var i = 1; i < 6; i++) {
                tabContents = tabContents.concat($("#content-expl-choice-" + i)[0].outerHTML);
            }

            // remove all the choices' HTML except the first
            $("#content-expl-choice-2").remove();
            $("#content-expl-choice-3").remove();
            $("#content-expl-choice-4").remove();
            $("#content-expl-choice-5").remove();

            // onClick event for elements with id starting with 'expl-choice-'
            $("[id^=expl-choice-]").off("click").on("click", function () {
                var id = $(this).attr("id");
                number = id.replace("expl-choice-", "")

                // if the click originated from a different choice
                if (number != selectedTab) {
                    var s = number.charAt(1)
                    var html = tabContents[parseInt(s) - 1];
                    $("#content-expl-choice-" + content).remove();
                    $("#content-expl-choice-container").append(html);

                    for (var i = 11; i < 16; i++) {
                        var isSelected = ("" + i) == number;
                        if (isSelected) {
                            // add selected class
                            $("#expl-choice-" + i).addClass("clicked_choice");
                        } else {
                            // this element is not selected so remove selected class
                            $("#expl-choice-" + i).removeClass("clicked_choice");
                        }
                    }

                    content = s;
                    selectedTab = number;
                }
            });
        });
    } else {
        var selectedTab = "1";
        var tabContents = [];

        $(document).ready(function () {

            // save the html of all choices
            for (var i = 1; i < 6; i++) {
                tabContents = tabContents.concat($("#content-expl-choice-" + i)[0].outerHTML);
            }

            // remove all the choices' HTML except the first
            $("#content-expl-choice-2").remove();
            $("#content-expl-choice-3").remove();
            $("#content-expl-choice-4").remove();
            $("#content-expl-choice-5").remove();

            // onClick event for elements with id starting with 'expl-choice-'
            $("[id^=expl-choice-]").off("click").on("click", function () {
                var id = $(this).attr("id");
                number = id.replace("expl-choice-", "")

                // if the click originated from a different choice
                if (number != selectedTab) {
                    var html = tabContents[parseInt(number) - 1];
                    $("#content-expl-choice-" + selectedTab).remove();
                    $("#content-expl-choice-container").append(html);

                    for (var i = 1; i < 6; i++) {
                        var isSelected = ("" + i) == number;
                        if (isSelected) {
                            // add selected class
                            $("#expl-choice-" + i).addClass("clicked_choice");
                            $("#choice-dot" + i).addClass("clicked_dot");
                        } else {
                            // this element is not selected so remove selected class
                            $("#expl-choice-" + i).removeClass("clicked_choice");
                            $("#choice-dot" + i).removeClass("clicked_dot");
                        }
                    }

                    selectedTab = number;
                }
            });
        });
    }
</script>


<!-- Go-To-Top Button -->

<script>

    mybutton = document.getElementById("gototop");

    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
            mybutton.style.visibility = "visible";
        } else {
            mybutton.style.visibility = "hidden"
        }
    }

</script>

<script>

    function changeid_sent() {

        text1 = document.getElementById('twitter-text2');
        text2 = document.getElementById('insta-text2');


        if (text1.classList.contains('activated')) {
            text1.classList.remove('activated');
            text2.classList.add('activated');
            canvas = document.getElementById('sentimentBarPlot1');
            canvas.id = 'sentimentBarPlot2';

            var labels = ["Positive", "Neutral", "Negative"];
            pos = {{insta_data.sent_pos_percent}}
            neu = {{insta_data.sent_neu_percent}}
            neg = {{insta_data.sent_neg_percent}}
            var data = [pos, neu, neg];
            var sentimentBar = document.getElementById("sentimentBarPlot2").getContext('2d');

            var sentimentChart = new Chart(sentimentBar, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            data: data,
                            borderColor: ['rgba(75, 192, 192, 1)', 'rgba(192, 0, 0, 1)'],
                            backgroundColor: ['green', 'gray', 'red'],
                        }
                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: "Sentiment"
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                suggestedMax: 100
                            }
                        }]
                    }
                }
            });

            positivetext = document.getElementById('sent-text1')
            negativetext = document.getElementById('sent-text3')
            neutraltext = document.getElementById('sent-text2')
            average1 = document.getElementById('average1')
            average2 = document.getElementById('average2')
            average3 = document.getElementById('average3')

            if (average1.classList.contains('activated')) {
                positivetext.innerHTML = '{{insta_data.sent_pos_percent}}' + '%'
            } else {
                positivetext.innerHTML = '{{insta_data.sent_pos_count}}' + ' posts'
            }
            if (average2.classList.contains('activated')) {
                negativetext.innerHTML = '{{insta_data.sent_neg_percent}}' + '%'
            } else {
                negativetext.innerHTML = '{{insta_data.sent_neg_count}}' + ' posts'
            }
            if (average3.classList.contains('activated')) {
                neutraltext.innerHTML = '{{insta_data.sent_neu_percent}}' + '%'
            } else {
                neutraltext.innerHTML = '{{insta_data.sent_neu_count}}' + ' posts'
            }

        } else if (text2.classList.contains('activated')) {
            text2.classList.remove('activated');
            text1.classList.add('activated');
            canvas = document.getElementById('sentimentBarPlot2');
            canvas.id = 'sentimentBarPlot1';

            pos = {{twitter_data.sent_pos_percent}}
            neu = {{twitter_data.sent_neu_percent}}
            neg = {{twitter_data.sent_neg_percent}}

            var labels = ["Positive", "Neutral", "Negative"];
            var data = [pos, neu, neg];
            var sentimentBar = document.getElementById("sentimentBarPlot1").getContext('2d');

            var sentimentChart = new Chart(sentimentBar, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            data: data,
                            borderColor: ['rgba(75, 192, 192, 1)', 'rgba(192, 0, 0, 1)'],
                            backgroundColor: ['green', 'gray', 'red'],
                        }
                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: "Sentiment"
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                suggestedMax: 100
                            }
                        }]
                    }
                }
            });

            positivetext = document.getElementById('sent-text1')
            negativetext = document.getElementById('sent-text3')
            neutraltext = document.getElementById('sent-text2')
            average1 = document.getElementById('average1')
            average2 = document.getElementById('average2')
            average3 = document.getElementById('average3')

            if (average1.classList.contains('activated')) {
                positivetext.innerHTML = '{{twitter_data.sent_pos_percent}}' + '%'
            } else {
                positivetext.innerHTML = '{{twitter_data.sent_pos_count}}' + ' tweets'
            }
            if (average2.classList.contains('activated')) {
                negativetext.innerHTML = '{{twitter_data.sent_neg_percent}}' + '%'
            } else {
                negativetext.innerHTML = '{{twitter_data.sent_neg_count}}' + ' tweets'
            }
            if (average3.classList.contains('activated')) {
                neutraltext.innerHTML = '{{twitter_data.sent_neu_percent}}' + '%'
            } else {
                neutraltext.innerHTML = '{{twitter_data.sent_neu_count}}' + ' tweets'
            }
        }
    }
</script>

<script>

    function changeid_prof() {

        text1 = document.getElementById('twitter-text3');
        text2 = document.getElementById('insta-text3');
        if (text1.classList.contains('activated')) {
            text1.classList.remove('activated');
            text2.classList.add('activated');
            gender = document.getElementById('genderChart1');
            age = document.getElementById('ageChart1');
            sarcasm = document.getElementById('sarcasmChart1');
            aggression = document.getElementById('aggressionChart1');
            gender.id = 'genderChart2';
            age.id = 'ageChart2';
            sarcasm.id = 'sarcasmChart2';
            aggression.id = 'aggressionChart2';

            var labels = ["Female", "Male"];
            male = {{insta_data.gen_male_percent}}
            female ={{insta_data.gen_female_percent}}
            var data = [male, female];
            var pie = document.getElementById("genderChart2").getContext('2d');
            var myChart = new Chart(pie, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            data: data,
                            borderColor: ['pink', 'blue'],
                            backgroundColor: ['pink', 'blue'],
                        }
                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: "Gender"
                    }
                }
            });


            var labels = ["18-24", "25-34", "35-49", "50+"];
            age1 = {{insta_data.age_18_24_percent}}
            age2 = {{insta_data.age_25_34_percent}}
            age3 = {{insta_data.age_35_49_percent}}
            age4 = {{insta_data.age_50_plus_percent}}
            var data = [age1,age2,age3,age4];
            var ageBar = document.getElementById("ageChart2").getContext('2d');

            var ageChart = new Chart(ageBar, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Ages',
                            data: data,
                            borderColor: ['yellow', 'red', 'purple', 'green', 'brown'],
                            backgroundColor: ['yellow', 'red', 'purple', 'brown'],
                        }
                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: "Age"
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                suggestedMax: 100
                            }
                        }]
                    }
                }
            });

            sarcasm_y = {{insta_data.sarc_yes_percent}}
            sarcasm_n = {{insta_data.sarc_no_percent}}
            new Chart(document.getElementById("sarcasmChart2"), {
                type: 'doughnut',
                data: {
                    labels: ["Sarcastic", "Non Sarcastic"],
                    datasets: [
                        {
                            backgroundColor: ["red", "yellow"],
                            data: [sarcasm_y, sarcasm_n]
                        }
                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Sarcastic - Non Sarcastic Users'
                    }
                }
            });

            agg1 = {{insta_data.agg_none_percent}}
            agg2 = {{insta_data.agg_low_percent}}
            agg3 = {{insta_data.agg_med_percent}}
            agg4 = {{insta_data.agg_high_percent}}
            new Chart(document.getElementById("aggressionChart2"), {
                type: 'doughnut',
                data: {
                    labels: ["Non Aggressive","Low Aggression","Medium Aggression","High Aggression"],
                    datasets: [
                        {
                            backgroundColor: ["purple", "blue","green","brown"],
                            data: [agg1,agg2,agg3,agg4]
                        }
                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Aggressive - Non Aggressive Users'
                    }
                }
            });


        } else if (text2.classList.contains('activated')) {
            text2.classList.remove('activated');
            text1.classList.add('activated');
            gender = document.getElementById('genderChart2');
            age = document.getElementById('ageChart2');
            sarcasm = document.getElementById('sarcasmChart2');
            aggression = document.getElementById('aggressionChart2');
            gender.id = 'genderChart1';
            age.id = 'ageChart1';
            sarcasm.id = 'sarcasmChart1';
            aggression.id = 'aggressionChart1';

            var labels = ["Female", "Male"];
            male = {{twitter_data.gen_male_percent}}
            female = {{twitter_data.gen_female_percent}}
            data = [male,female]
            var pie = document.getElementById("genderChart1").getContext('2d');
            var myChart = new Chart(pie, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            data: data,
                            borderColor: ['pink', 'blue'],
                            backgroundColor: ['pink', 'blue'],
                        }
                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: "Gender"
                    }
                }
            });

            var labels = ["18-24", "25-34", "35-49", "50+"];
            age1 = {{twitter_data.age_18_24_percent}}
            age2 = {{twitter_data.age_25_34_percent}}
            age3 = {{twitter_data.age_35_49_percent}}
            age4 = {{twitter_data.age_50_plus_percent}}
            var data = [age1,age2,age3,age4];
            var ageBar = document.getElementById("ageChart1").getContext('2d');

            var ageChart = new Chart(ageBar, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Ages',
                            data: data,
                            borderColor: ['yellow', 'red', 'purple', 'brown'],
                            backgroundColor: ['yellow', 'red', 'purple', 'brown'],
                        }
                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: "Age"
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                suggestedMax: 100
                            }
                        }]
                    }
                }
            });


            sarcasm_y = {{twitter_data.sarc_yes_percent}}
            sarcasm_n = {{twitter_data.sarc_no_percent}}
            new Chart(document.getElementById("sarcasmChart1"), {
                type: 'doughnut',
                data: {
                    labels: ["Sarcastic", "Non Sarcasstic"],
                    datasets: [
                        {
                            backgroundColor: ["red", "yellow"],
                            data: [sarcasm_y, sarcasm_n]
                        }
                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Sarcastic - Non Sarcastic Users'
                    }
                }
            });

            agg1 = {{twitter_data.agg_none_percent}}
            agg2 = {{twitter_data.agg_low_percent}}
            agg3 = {{twitter_data.agg_med_percent}}
            agg4 = {{twitter_data.agg_high_percent}}
            new Chart(document.getElementById("aggressionChart1"), {
                type: 'doughnut',
                data: {
                    labels: ["Non Aggressive","Low Aggression","Medium Aggression","High Aggression"],
                    datasets: [
                        {
                            backgroundColor: ["purple", "blue","green","brown"],
                            data: [agg1, agg2,agg3,agg4]
                        }
                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Aggressive - Non Aggressive Users'
                    }
                }
            });
        }
    }
</script>

<script>

    function changeid_em() {

        text1 = document.getElementById('twitter-text25');
        text2 = document.getElementById('insta-text25');
        if (text1.classList.contains('activated')) {
            text1.classList.remove('activated');
            text2.classList.add('activated');
            emotion = document.getElementById('emotionRadarChart1');
            emotion.id = 'emotionRadarChart2';

            anger = {{insta_data.emo_anger_percent}}
            disgust = {{insta_data.emo_disgust_percent}}
            fear = {{insta_data.emo_fear_percent}}
            joy = {{insta_data.emo_joy_percent}}
            sadness = {{insta_data.emo_sadness_percent}}
            surprise = {{insta_data.emo_surprise_percent}}
            data = {
                labels: ['Anger', 'Disgust', 'Fear', 'Joy', 'Sadness', 'Surprise'],
                datasets: [{
                    data: [anger,disgust,fear,joy,sadness,surprise],
                    backgroundColor: [
                        "rgba(255, 0, 0, 0.5)",
                        "rgba(100, 255, 0, 0.5)",
                        "rgba(200, 50, 255, 0.5)",
                        "rgba(0, 100, 255, 0.5)",
                        "rgba(130, 90, 44, 1 )",
                        "rgba(255,192,203 ,1 )"
                    ]
                }]
            };
            var emotionRadar = document.getElementById("emotionRadarChart2").getContext('2d');
            var emotionRadarChart = new Chart(emotionRadar, {
                type: 'polarArea',
                data: data,
                options: {
                    responsive: true,
                    scale: {
                        angleLines: {
                            display: false
                        },
                        ticks: {
                            suggestedMin: 10,
                            suggestedMax: 40
                        }
                    }
                }
            });


            anger2 = document.getElementById('anger')
            disgust2 = document.getElementById('disgust')
            fear2 = document.getElementById('fear')
            joy2 = document.getElementById('joy')
            sad2 = document.getElementById('sad')
            surprise2 = document.getElementById('surprise')

            anger2.innerHTML = anger + '%'
            disgust2.innerHTML = disgust + '%'
            fear2.innerHTML = fear + '%'
            joy2.innerHTML = joy + '%'
            sad2.innerHTML = sadness + '%'
            surprise2.innerHTML = surprise + '%'

        } else if (text2.classList.contains('activated')) {
            text2.classList.remove('activated');
            text1.classList.add('activated');
            emotion = document.getElementById('emotionRadarChart2');
            emotion.id = 'emotionRadarChart1';

            anger = {{twitter_data.emo_anger_percent}}
            disgust = {{twitter_data.emo_disgust_percent}}
            fear = {{twitter_data.emo_fear_percent}}
            joy = {{twitter_data.emo_joy_percent}}
            sadness = {{twitter_data.emo_sadness_percent}}
            surprise = {{twitter_data.emo_surprise_percent}}
            data = {
                labels: ['Anger', 'Disgust', 'Fear', 'Joy', 'Sadness', 'Surprise'],
                datasets: [{
                    data: [anger,disgust,fear,joy,sadness,surprise],
                    backgroundColor: [
                        "rgba(255, 0, 0, 0.5)",
                        "rgba(100, 255, 0, 0.5)",
                        "rgba(200, 50, 255, 0.5)",
                        "rgba(0, 100, 255, 0.5)",
                        "rgba(130, 90, 44, 1 )",
                        "rgba(255,192,203 ,1 )"
                    ]
                }]
            };
            var emotionRadar = document.getElementById("emotionRadarChart1").getContext('2d');
            var emotionRadarChart = new Chart(emotionRadar, {
                type: 'polarArea',
                data: data,
                options: {
                    responsive: true,
                    scale: {
                        angleLines: {
                            display: false
                        },
                        ticks: {
                            suggestedMin: 10,
                            suggestedMax: 40
                        }
                    }
                }
            });

            anger2 = document.getElementById('anger')
            disgust2 = document.getElementById('disgust')
            fear2 = document.getElementById('fear')
            joy2 = document.getElementById('joy')
            sad2 = document.getElementById('sad')
            surprise2 = document.getElementById('surprise')

            anger2.innerHTML = anger + '%'
            disgust2.innerHTML = disgust + '%'
            fear2.innerHTML = fear + '%'
            joy2.innerHTML = joy + '%'
            sad2.innerHTML = sadness + '%'
            surprise2.innerHTML = surprise + '%'
        }
    }
</script>

<!-- Sentiment Barplot 1 -->

<script>


    var labels = ["Positive", "Neutral", "Negative"];
    pos = {{twitter_data.sent_pos_percent}}
    neu = {{twitter_data.sent_neu_percent}}
    neg = {{twitter_data.sent_neg_percent}}
    var data = [pos, neu, neg];
    var sentimentBar = document.getElementById("sentimentBarPlot1").getContext('2d');

    var sentimentChart = new Chart(sentimentBar, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [
                {
                    data: data,
                    borderColor: ['rgba(75, 192, 192, 1)', 'rgba(192, 0, 0, 1)'],
                    backgroundColor: ['green', 'gray', 'red'],
                }
            ]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: "Sentiment"
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        suggestedMax: 100
                    }
                }]
            }
        }
    });

</script>


<!-- Emotion RadarChart -->

<script>

    anger = {{twitter_data.emo_anger_percent}}
    disgust = {{twitter_data.emo_disgust_percent}}
    fear = {{twitter_data.emo_fear_percent}}
    joy = {{twitter_data.emo_joy_percent}}
    sadness = {{twitter_data.emo_sadness_percent}}
    surprise = {{twitter_data.emo_surprise_percent}}
    data = {
        labels: ['Anger', 'Disgust', 'Fear', 'Joy', 'Sadness', 'Surprise'],
        datasets: [{
            data: [anger,disgust,fear,joy,sadness,surprise],
            backgroundColor: [
                "rgba(255, 0, 0, 0.5)",
                "rgba(100, 255, 0, 0.5)",
                "rgba(200, 50, 255, 0.5)",
                "rgba(0, 100, 255, 0.5)",
                "rgba(130, 90, 44, 1 )",
                "rgba(255,192,203 ,1 )"
            ]
        }]
    };
    var emotionRadar = document.getElementById("emotionRadarChart1").getContext('2d');
    var emotionRadarChart = new Chart(emotionRadar, {
        type: 'polarArea',
        data: data,
        options: {
            responsive: true,
            scale: {
                angleLines: {
                    display: false
                },
                ticks: {
                    suggestedMin: 10,
                    suggestedMax: 40
                }
            }
        }
    });

</script>

<!-- Gender charts -->

<script>

    var labels = ["Female", "Male"];
    male = {{twitter_data.gen_male_percent}}
    female = {{twitter_data.gen_female_percent}}
    var data = [male, female];
    var pie = document.getElementById("genderChart1").getContext('2d');
    var myChart = new Chart(pie, {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [
                {
                    data: data,
                    borderColor: ['pink', 'blue'],
                    backgroundColor: ['pink', 'blue'],
                }
            ]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: "Gender"
            }
        }
    });

</script>

<!-- Age charts -->

<script>

    var labels = ["18-24", "25-34", "35-49", "50+"];
    age1 = {{twitter_data.age_18_24_percent}}
    age2 = {{twitter_data.age_25_34_percent}}
    age3 = {{twitter_data.age_35_49_percent}}
    age4 = {{twitter_data.age_50_plus_percent}}
    var data = [age1,age2,age3,age4];
    var ageBar = document.getElementById("ageChart1").getContext('2d');

    var ageChart = new Chart(ageBar, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [
                {
                    label: 'Ages',
                    data: data,
                    borderColor: ['yellow', 'red', 'purple', 'brown'],
                    backgroundColor: ['yellow', 'red', 'purple', 'brown'],
                }
            ]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: "Age"
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        suggestedMax: 100
                    }
                }]
            }
        }
    });

</script>

<!-- Sarcasm Doughnut -->

<script>
    sarcasm_y = {{twitter_data.sarc_yes_percent}}
    sarcasm_n = {{twitter_data.sarc_no_percent}}
    new Chart(document.getElementById("sarcasmChart1"), {
        type: 'doughnut',
        data: {
            labels: ["Sarcastic", "Non Sarcasstic"],
            datasets: [
                {
                    backgroundColor: ["red", "yellow"],
                    data: [sarcasm_y, sarcasm_n]
                }
            ]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Sarcastic - Non Sarcastic Users'
            }
        }
    });

</script>

<!-- Aggression Doughnut -->

<script>

    agg1 = {{twitter_data.agg_none_percent}}
    agg2 = {{twitter_data.agg_low_percent}}
    agg3 = {{twitter_data.agg_med_percent}}
    agg4 = {{twitter_data.agg_high_percent}}
    new Chart(document.getElementById("aggressionChart1"), {
        type: 'doughnut',
        data: {
            labels: ["Non Aggressive","Low Aggression","Medium Aggression","High Aggression"],
            datasets: [
                {
                    backgroundColor: ["purple", "blue","green","brown"],
                    data: [agg1, agg2,agg3,agg4]
                }
            ]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Aggressive - Non Aggressive Users'
            }
        }
    });

</script>

<!-- Top 10 Words Word Cloud -->

<script>

    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
    zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
    tokens = []

    server_tokens = {{expl_data.top_tokens|tojson}}


    for(var i = 0;i<server_tokens.length;i++){
        var token = server_tokens[i]
        tokens.push({text:token.token,count:token.count})
    }
    var myConfig = {
        type: 'wordcloud',
        options: {
            aspect: 'spiral',
            responsive: true,
            words:tokens,
            colorType: 'palette',
            palette: ['#D32F2F', '#5D4037', '#1976D2', '#E53935', '#6D4C41', '#1E88E5', '#F44336', '#795548', '#2196F3', '#EF5350', '#8D6E63', '#42A5F5'],
            style: {
                fontFamily: 'Crete Round',
                hoverState: {
                    backgroundColor: '#D32F2F',
                    borderRadius: 2,
                    fontColor: 'black'
                },
                tooltip: {
                    text: '%text: %hits',
                    visible: true,
                    alpha: 0.9,
                    backgroundColor: '#1976D2',
                    borderRadius: 2,
                    borderColor: 'none',
                    fontColor: 'white',
                    fontFamily: 'Georgia',
                    textAlpha: 1
                }
            }
        },
    };

    zingchart.render({
        id: 'content-expl-choice-3',
        data: myConfig,
        height: 500,
        width: '100%'
    });

</script>

<!-- Top 10 Hashtags Word Cloud -->

<script>

    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
    zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';

    tokens = []

    server_tokens = {{expl_data.top_hashtags|tojson}}


    for(var i = 0;i<server_tokens.length;i++){
        var token = server_tokens[i]
        tokens.push({text:token.hashtag,count:token.count})
    }
    var myConfig = {
        type: 'wordcloud',
        options: {
            aspect: 'spiral',
            responsive: true,
            words: tokens,
            colorType: 'palette',
            palette: ['#D32F2F', '#5D4037', '#1976D2', '#E53935', '#6D4C41', '#1E88E5', '#F44336', '#795548', '#2196F3', '#EF5350', '#8D6E63', '#42A5F5'],

            style: {
                fontFamily: 'Crete Round',

                hoverState: {
                    backgroundColor: '#D32F2F',
                    borderRadius: 2,
                    fontColor: 'black'
                },
                tooltip: {
                    text: '%text: %hits',
                    visible: true,
                    alpha: 0.9,
                    backgroundColor: '#1976D2',
                    borderRadius: 2,
                    borderColor: 'none',
                    fontColor: 'white',
                    fontFamily: 'Georgia',
                    textAlpha: 1
                }
            }
        },
    };

    zingchart.render({
        id: 'content-expl-choice-4',
        data: myConfig,
        height: 500,
        width: '100%'
    });

</script>

<!-- Named Entity Recognition (NER) Barplot -->

<script>
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
    zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';


    tokens = []

    server_tokens = {{expl_data.top_entities|tojson}}


    for(var i = 0;i<server_tokens.length;i++){
        var token = server_tokens[i]
        tokens.push({text:token.entity.text + '(' + token.entity.type + ')' ,count:token.count})
    }
    var myConfig = {
        type: 'wordcloud',
        options: {

            responsive: true,
            words:tokens,

            aspect: 'spiral',

            colorType: 'palette',
            palette: ['#D32F2F', '#5D4037', '#1976D2', '#E53935', '#6D4C41', '#1E88E5', '#F44336', '#795548', '#2196F3', '#EF5350', '#8D6E63', '#42A5F5'],

            style: {
                fontFamily: 'Crete Round',

                hoverState: {
                    backgroundColor: '#D32F2F',
                    borderRadius: 2,
                    fontColor: 'black'
                },
                tooltip: {
                    text: '%text: %hits',
                    visible: true,
                    alpha: 0.9,
                    backgroundColor: '#1976D2',
                    borderRadius: 2,
                    borderColor: 'none',
                    fontColor: 'white',
                    fontFamily: 'Georgia',
                    textAlpha: 1
                }
            }
        },
    };

    zingchart.render({
        id: 'content-expl-choice-5',
        data: myConfig,
        height: 500,
        width: '100%'
    });

</script>


<script>

    function change_average(id) {

        twitter3 = document.getElementById('twitter-text2')
        senttext = document.getElementById('sent-text'.concat(id))
        if (twitter3.classList.contains('activated')) {
            if (id === '1') {
                senttext.innerHTML = '{{twitter_data.sent_pos_percent}}' + '%'
            } else if (id === '2') {
                senttext.innerHTML = '{{twitter_data.sent_neu_percent}}' + '%'
            } else {
                senttext.innerHTML = '{{twitter_data.sent_neg_percent}}' + '%'
            }
        } else {
            if (id === '1') {
                senttext.innerHTML = '{{insta_data.sent_pos_percent}}' + '%'
            } else if (id === '2') {
                senttext.innerHTML = '{{insta_data.sent_neu_percent}}' + '%'
            } else {
                senttext.innerHTML = '{{insta_data.sent_neg_percent}}' + '%'
            }
        }

    }

    function change_number(id) {

        twitter3 = document.getElementById('twitter-text2')
        senttext = document.getElementById('sent-text'.concat(id))
        if (twitter3.classList.contains('activated')) {
            if (id === '1') {
                senttext.innerHTML = '{{twitter_data.sent_pos_count}}' + ' tweets'
            } else if (id === '2') {
                senttext.innerHTML = '{{twitter_data.sent_neu_count}}' + ' tweets'
            } else {
                senttext.innerHTML = '{{twitter_data.sent_neg_count}}' + ' tweets'
            }
        } else {
            if (id === '1') {
                senttext.innerHTML = '{{insta_data.sent_pos_count}}' + ' posts'
            } else if (id === '2') {
                senttext.innerHTML = '{{insta_data.sent_neu_count}}' + ' posts'
            } else {
                senttext.innerHTML = '{{insta_data.sent_neg_count}}' + ' posts'
            }
        }
    }

</script>

<script>
    function change_description(id) {
        description = document.getElementById('explain');
        if (id === '1') {
            description.innerHTML = 'The LDA analysis indicates the Topics extracted from the combination of Tweets and Posts. Primary topics ' +
                'are Sanitation (Topic 2),Trump and the American Government ' +
                ' (Topic 5,9,4), the outbreak in China (Topic 3) ' +
                'and the situation in Italy (Topic 8).'
        } else if (id === '2') {
            description.innerHTML = 'Primary locations of Tweets are depicted on the map. By clicking on any marker, ' +
                'the user can see the number of tweets in this location.'
        } else if (id === '3') {
            description.innerHTML = 'The Word cloud contains the top Words from both Twitter and Instagram, along with ' +
                'their frequencies. We chose to present them together as we noticed a pattern in the words used ' +
                'by the community. By hovering on the words, the user can see their frequency.'
        } else if (id === '4') {
            description.innerHTML = 'The word cloud contains the top Hashtags from both Twitter and Instagram, along with ' +
                'their frequencies. We chose to present them together as we noticed a similarity in the hashtags used ' +
                'by the community. By hovering on the words, the user can see their frequency.'
        } else {
            description.innerHTML = 'The word cloud contains the top NER entities from both Twitter and Instagram, along with ' +
                'their frequencies. By hovering on the words, the user can see their frequency.'
        }
    }
</script>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="js/jquery.stellar.min.js"></script>
<!-- YTPlayer -->
<script src="js/jquery.mb.YTPlayer.min.js"></script>
<!-- Owl carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<!-- Counters -->
<script src="js/jquery.countTo.js"></script>
<!-- Main -->
<script src="js/main.js"></script>

</body>
</html>

